@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* 
font-family: 'Lexend Deca', sans-serif;
font-family: 'Inter', sans-serif;

*/

.root {
    --dark-blue-card: hsl(244, 38%, 16%);
    --soft-viole: hsl(277, 64%, 61%);
    --dark-blue-bg: hsl(233, 47%, 7%);
}

body, button, input, select, textarea {
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}