@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* 
font-family: 'Lexend Deca', sans-serif;
font-family: 'Inter', sans-serif;

*/

:root {
    --dark-blue-card: hsl(244, 38%, 16%);
    --soft-viole: hsl(277, 100%, 22%);
    --dark-blue-bg: hsl(233, 47%, 7%);
}

body, button, input, select, textarea {
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    background: var(--dark-blue-bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: #FFF;
}

.container h4 {
    color: #8c8aa2;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin: 0 0 60px 0;
    font-size: 14px;
}

.container {
    background: var(--dark-blue-card);
    border-radius: 8px;
    height: 400px;
    width: 1000px;
    display: flex;
}

.container .right-container {
    background: var(--soft-viole);
    border-radius: 0 8px 8px 0;
}

.container .right-container img {
    width: 500px;
    height: 400px;
    border-radius: 0 8px 8px 0;
    opacity: .7;
}

.container .left-container {
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 50px;
    margin: 40px 0 0 0;
}

.container .left-container span {
    color: var(--soft-viole)
}

.container .left-container .statistcs {
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.container .left-container .statistcs .infos p {
    color: #8c8aa2;
    margin: 3px 0 0 0;
}

.container .left-container .statistcs .infos .numbers {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0 0;
}
